{% extends 'base.html' %}
{% load static %}

{% block msg %}
{% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{msg.tags}} alert-dismissible fade show">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">   
        </button>
    </div>
    {% endfor %}
{% endif %}
{% endblock msg %}


{% block side %}
<div class="col-sm-2 my-5 text-center">
    <div class="card bg-light text-black">
        <div class="card-body">
            <h3 class="card-title my-3 bold">Profile</h3>
            <h5 class="card-text">{{ full_name }}</h5>
            <p class="card-text">{{email}}</p>
            {% for group in groups %}
            <h5 class="card-text">{{ group.name }}</h5>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock side %}


{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">Dashboard</h3>
    <a href="{% url 'addblog' %}" class="btn btn-success">Add Blog</a>
    <h4 class="text-center alert alert-info mt-3">Show Blog Information</h4>
    {% if blogs %}
    <table class="table table-hover bg-white">
        <thead>
            <tr class="text-center">
                <th scope="col" style="width:2%">ID</th>
                <th scope="col" style="width:18%">Title</th>
                <th scope="col" style="width:18%">Author</th>
                <th scope="col" style="width:47%">Body</th>
                <th scope="col" style="width:15%">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
            <tr>
                <th scope="row">{{blog.id}}</th>
                <td>{{blog.title}}</td>
                <td>{{blog.author}}</td>
                <td>{{blog.body}}</td>
                <td class="text-center">
                    <a href="{% url 'updateblog' blog.id %}" class="btn btn-warning btn-sm">Edit</a>
                    {% if perms.blog.delete_post %}
                    <form action="{% url 'deleteblog' blog.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">No Records</h4>
    {% endif %}
</div>
{% endblock content %}
